.user_menu {
background-color: red;
display: flex;
  justify-content: space-between;
  height: 60px;

}
.user_name {
  
}
.user_coins {
  background-color: yellow;
  width: 100px;
}
.colums {
  margin: 3px;
  border: 1px solid red;
  
}
.avtomat {
  height: 200px;
  background-color: blue;
  font-size: 180px;
  display: flex;
  justify-content: space-between;

}

.stavki {
  display: flex;
  justify-content: center;
  padding: 10px

}
.stavki button{
  padding: 14px;
  margin: 14px;
  border-radius: 18px;
  width: 38px;
  background-color: green;
}
#stavka {
  width: 100px;
  background-color: red;
}